.accordion {
    padding: 1rem;
}

/* Add border to all accordion items after the first */
.accordion-item {
    border: 2px solid black; /* Set border width and color */
    width: 100%; /* Adjust width as needed */
    margin-right: auto;
}